@import '../base/variables';

.settings {
  width: 87.5%;
  margin: 0 auto;
  .settings-interface, .settings-autostart, .settings-transport, .settings-cfg {
    background-color: $secondary-color;
    border: 0;
    padding: 15px;
    border-radius: 15px;
    white-space: pre-wrap;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    span {
      color: $text-primary-color;
    }
  }
}